<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>523118236574-a2frm1mu0t505kclhv14136vdks8q27a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.523118236574-a2frm1mu0t505kclhv14136vdks8q27a</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>523118236574-7rd4ug2vitt50638vsv8c4appttc3ts2.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCXD7TClHZ1-byTLDK_k6xrQlRHLTEgfNo</string>
	<key>GCM_SENDER_ID</key>
	<string>523118236574</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mediakliq.betavs</string>
	<key>PROJECT_ID</key>
	<string>betavs-c3f49</string>
	<key>STORAGE_BUCKET</key>
	<string>betavs-c3f49.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:523118236574:ios:dac0e3853d5f18d8efbc8f</string>
	<key>DATABASE_URL</key>
	<string>https://betavs-c3f49-default-rtdb.firebaseio.com</string>
</dict>
</plist>